# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
Exercícios - Mundo 1/.idea/inspectionProfiles/profiles_settings.xml
Exercícios - Mundo 1/.idea/misc.xml
Exercícios - Mundo 1/.idea/modules.xml
Exercícios - Mundo 1/.idea/pythonExercicios.iml
Exercícios - Mundo 1/audio-me.mp3
Exercícios - Mundo 1/ex001.py
Exercícios - Mundo 1/ex002.py
Exercícios - Mundo 1/ex003.py
Exercícios - Mundo 1/ex004.py
Exercícios - Mundo 1/ex005.py
Exercícios - Mundo 1/ex006.py
Exercícios - Mundo 1/ex007.py
Exercícios - Mundo 1/ex008.py
Exercícios - Mundo 1/ex009.py
Exercícios - Mundo 1/ex010.py
Exercícios - Mundo 1/ex011.py
Exercícios - Mundo 1/ex012.py
Exercícios - Mundo 1/ex013.py
Exercícios - Mundo 1/ex014.py
Exercícios - Mundo 1/ex015.py
Exercícios - Mundo 1/ex016.py
Exercícios - Mundo 1/ex017-1.py
Exercícios - Mundo 1/ex017.py
Exercícios - Mundo 1/ex018.py
Exercícios - Mundo 1/ex019.py
Exercícios - Mundo 1/ex020.py
Exercícios - Mundo 1/ex021.py
Exercícios - Mundo 1/ex022.py
Exercícios - Mundo 1/ex023.py
Exercícios - Mundo 1/ex024.py
Exercícios - Mundo 1/ex025.py
Exercícios - Mundo 1/ex026.py
Exercícios - Mundo 1/ex027.py
Exercícios - Mundo 1/ex028.py
Exercícios - Mundo 1/ex029.py
Exercícios - Mundo 1/ex030.py
Exercícios - Mundo 1/ex031.py
Exercícios - Mundo 1/ex032.py
Exercícios - Mundo 1/ex033.py
Exercícios - Mundo 1/ex034.py
Exercícios - Mundo 1/ex035.py
Exercícios - Mundo 1/extra.mp3
Exercícios - Mundo 2/ex036.py
Exercícios - Mundo 2/ex037.py
Exercícios - Mundo 2/ex038.py
Exercícios - Mundo 2/ex039.py
Exercícios - Mundo 2/ex040.py
Exercícios - Mundo 2/ex041.py
Exercícios - Mundo 2/ex042.py
Exercícios - Mundo 2/ex043.py
Exercícios - Mundo 2/ex044.py
Exercícios - Mundo 2/ex045.py
Exercícios - Mundo 2/ex046.py
Exercícios - Mundo 2/ex047.py
Exercícios - Mundo 2/ex048.py
Exercícios - Mundo 2/ex049.py
Exercícios - Mundo 2/ex050.py
Exercícios - Mundo 2/ex051.py
Exercícios - Mundo 2/ex052.py
Exercícios - Mundo 2/ex053-1.py
Exercícios - Mundo 2/ex053.py
Exercícios - Mundo 2/ex054.py
Exercícios - Mundo 2/ex055.py
Exercícios - Mundo 2/ex056.py
Exercícios - Mundo 2/ex057.py
Exercícios - Mundo 2/ex058.py
Exercícios - Mundo 2/ex059.py
Exercícios - Mundo 2/ex060.py
Exercícios - Mundo 2/ex061.py
Exercícios - Mundo 2/ex062.py
Exercícios - Mundo 2/ex063.py
Exercícios - Mundo 2/ex064.py
Exercícios - Mundo 2/ex065.py
Exercícios - Mundo 2/ex066.py
Exercícios - Mundo 2/ex067.py
Exercícios - Mundo 2/ex068.py
Exercícios - Mundo 2/ex069.py
Exercícios - Mundo 2/ex070.py
Exercícios - Mundo 2/ex071.py
